.container
  .header-content
    = image_tag('logo.png', class: 'img-responsive', alt: 'Johny Urgilés')
    %h2
      Product Engineering Consultant
    %h4
      Software Engineer grounded in Lean Product Strategy
    .social-links
      = link_to('http://twitter.com/johnysayswhat', target: '_blank') do
        = icon('twitter-square')
      = link_to('http://www.linkedin.com/pub/johny-urgiles/23/438/a04/', target: '_blank') do
        = icon('linkedin-square')
      = link_to('https://github.com/jurgiles', target: '_blank') do
        = icon('github')
      = link_to('http://open.spotify.com/user/djstalin', target: '_blank') do
        = icon('spotify')
    %hr
    .experience-content
      %h5
        Latest Talks
      %dl.dl-horizontal
        %dt
          Droidcon NYC, 9/14
        %dd
          = link_to('TDD: Get Your Robolectric Groove On', 'https://www.youtube.com/watch?v=sPI4IQNDOOI', target: '_blank')
        %dt
          Dev Bootcamp, 5/14
        %dd
          15 Years of Programming
        %dt
          Selenium Meetup, 4/14
        %dd
          =link_to('The Magic of Android Unit Testing', 'http://www.slideshare.net/jurgiles/android-unit-tests-33952624', target: '_blank')
    %hr
    .current-read-content
      %h5
        Current Read
      %p
        =link_to('The Death and Life of Great American Cities', 'http://www.amazon.com/Death-Life-Great-American-Cities/dp/067974195X', target: '_blank')
        by Jane Jacobs
